.Proxy-body {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.Proxy-status {
  text-align: left;
  width: 35%;
}

.Proxy-terminal {
  width: 30%;
}

textarea {
  resize: none;
  box-shadow: 0px 0px 5px 0px black;
  border: 1px solid cornflowerblue;
}
